body * {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
}

body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill 1fr);
    width: 100%;
    background-color: rgba(200, 200, 200, 0.5);
}

#mainContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.author, .title, .pages {
    position: relative;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    border: none;
    box-sizing: border-box;
}

.author {
    height: 20%;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.5);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-top: 0;
}

.title { 
    height: 55%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.5);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: -1px;
}

.readPages, .allPages, .increment, .decrement, .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    box-sizing: border-box;
}

.bar {
    height: 60%;
    border: 2px solid black;
}

.decrement, .increment {
    height: 60%;
    width: 10%;
    font-size: 1em;
    color: black;
    border: none;
}

.decrement {
    left: 0;
    background-color: brown;
    border-right: 2px solid black;
}

.increment {
    right: 0;
    background-color: green;
    border-left: 2px solid black;
}

.pages {
    height: 25%;
    margin-top: -1px;
}

.readPages, .allPages {
    border: none;
    height: 60%;
    width: 29.3%;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}

.readPages {
    left: 0;
    background-color: rgba(255, 100, 255, 0.75);
}

.allPages {
    right: 0;
    background-color: rgba(225, 0, 225, 0.75);
}

.book, .newBookForm {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border: 6px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.addBookBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: rgba(255, 150, 0, 0.75);
    border: none;
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    z-index: 1;
}

.deleteBookBtn, .updateBookBtn {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    color: black;
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom: none;
}

.deleteBookBtn {
    left: 0;
    background-color: rgba(255, 0, 0, 0.75);
    border-left: none;
    border-right: 2px solid black;
    border-bottom-left-radius: 14px;
}

.updateBookBtn {
    right: 0;
    background-color: rgba(0, 200, 0, 0.75);
    border-left: 2px solid black;
    border-right: none;
    border-bottom-right-radius: 14px;
}

textarea {
    resize: none;
}
