:root {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
}

button:hover {
	filter: brightness(110%);
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	background-color: rgba(175, 175, 175, 0.5);
	border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}

.storageControls,
.userControls {
	display: flex;
	align-items: center;
	padding: 4px;
}

.storageControls button,
.userControls button {
	padding: 4px 8px;
	margin: 8px;
	font-size: 0.8rem;
	font-weight: 600;
	color: rgb(255, 255, 255);
	border-radius: 4px;
	border: 2px solid rgb(225, 225, 225);
	box-shadow: 0 0 2px 0 rgb(225, 225, 225);
}

.storageControls button {
	border: 2px solid rgb(225, 225, 225);
	background-color: rgb(0, 100, 255);
	border-radius: 8px;
	padding: 8px;
}

#switchLibrary {
	width: 180px;
	margin-right: 32px;
}

#switchLibrary.localStorage {
	background-color: rgb(0, 100, 255);
}

#switchLibrary.localStorage::after {
	content: 'Switch to Cloud Library';
}

#switchLibrary.cloudStorage {
	background-color: rgb(0, 150, 0);
}

#switchLibrary.cloudStorage::after {
	content: 'Switch to Local Library';
}

#localStorageControls button {
	width: 144px;
	background-color: rgb(0, 150, 0);
}

#cloudStorageControls button {
	width: 144px;
	background-color: rgb(0, 100, 255);
}

.userControls > * {
	margin: 8px;
}

.userProfilePic {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.75);
}

.userName {
	color: rgb(255, 255, 255);
	font-weight: 600;
	font-size: 1.25rem;
}

#signIn {
	font-size: 1rem;
	background-color: rgb(0, 150, 0);
}

#signOut {
	font-size: 1rem;
	background-color: rgb(0, 100, 225);
}

#mainContainer {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

form {
	display: flex;
	flex-direction: column;
	height: fit-content;
	max-height: 340px;
	width: 300px;
	margin: 16px;
	border-radius: 16px;
	padding: 4px;
	background: linear-gradient(
		rgb(75, 175, 50),
		rgb(75, 125, 175) 30% 60%,
		rgb(255, 25, 50)
	);
	box-shadow: 0 0 4px 2px rgb(225, 225, 225);
}

form > * {
	margin: 4px;
	color: rgb(255, 255, 255);
}

input,
textarea {
	font-size: 1.1rem;
	padding: 4px;
	text-align: center;
	border: none;
	outline: none;
	resize: none;
	overflow: auto;
	scrollbar-color: rgba(255, 255, 255, 0.75) transparent;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
	background-color: rgba(255, 255, 255, 0.25) !important;
	border-radius: 12px;
}

#author,
#title {
	background: transparent;
}

#newBookForm * {
	font-weight: 600;
}

#newBookForm #author,
#newBookForm #title {
	-webkit-text-fill-color: rgba(255, 255, 255, 0.75);
}

.pages button,
.bookControls button {
	padding: 4px 0;
}

.pages button:hover,
.bookControls button:hover {
	background-color: rgba(255, 255, 255, 0.5) !important;
	border-radius: 16px;
}

.upper,
.lower {
	display: flex;
}

#readPages,
#allPages {
	font-size: 0.8rem;
	font-weight: 600;
	text-align: center;
	outline: none;
	max-width: 160px;
	background: transparent;
}

#newBookForm #readPages,
#newBookForm #allPages {
	-webkit-text-fill-color: rgba(255, 255, 255, 0.75);
}

.decrement,
.increment {
	flex: 1;
	font-size: 1.1rem;
	font-weight: 600;
	background: transparent;
}

.bookControls {
	display: flex;
	margin-top: 8px;
}

#addBookBtn {
	flex: 1;
	background: transparent;
}

.deleteBookBtn,
.updateBookBtn {
	flex: 1;
	font-weight: 600;
	background: transparent;
}

.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	border-top-left-radius: 8px;
	background-color: rgb(0, 0, 0);
}

.footer a {
	font-weight: 600;
	color: rgb(255, 255, 255);
	padding: 4px;
	float: right;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.footer svg {
	box-sizing: content-box;
	border-radius: 50%;
	padding: 1px;
	background-color: rgb(255, 255, 255);
	fill: rgb(0, 0, 0);
}
